.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  border: 5px solid rgb(144, 144, 144);
  margin: auto;
  border-radius: 0.8rem;
}
